@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <button class="btn" id="testar">Testar</button>
</div>

<ul id="logger">

</ul>

<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/microsoft//signalr//dist//browser//signalr.js"></script>
<script>
    $logger = $('#logger');
    $('#testar').click(() => {
        $logger.html(null);
        $.post('/')
            .fail((resp) => {
                $logger.append(`<li>${resp.responseText}</li>`);
            });
    });
    var connection = new signalR.HubConnectionBuilder().withUrl("hub/logger-hub").build();
    connection.on("msg", function (message) {
        $logger.append(`<li>${message}</li>`);
    });
    connection.start().then(function () {
        $logger.append(`<li>conectado</li>`);
    }).catch(function (err) {
        return console.error(err.toString());
    });

</script>
